/* Slide-down animation for mobile navbar */
@keyframes slideDown {
    from {
      transform: translateY(-10%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .slide-down {
    animation: slideDown 0.3s ease forwards;
  }
  